@model ProjeYapisi.Models.MemberModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.status != null)
    {
        <div class="@ViewBag.status">@ViewBag.info</div>
        <script>setTimeout(function () { $(".@ViewBag.status").fadeOut(3000); }, 2000)</script>
        if (ViewBag.status == "success")
        {
             <meta http-equiv='refresh' content='2;URL=/Account/Login'>
        }
    }
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{

    <div class="editor-label left">
        @Html.LabelFor(u => u.Name)
    </div>
    <div class="editor-field left">
        @Html.TextBoxFor(u => u.Name)
        @Html.ValidationMessageFor(u => u.Name)
    </div>
    <div class="editor-label left">
        @Html.LabelFor(u => u.Email)
    </div>
    <div class="editor-field left">
        @Html.TextBoxFor(u => u.Email)
        @Html.ValidationMessageFor(u => u.Email)
    </div>
    <div class="editor-label left">
        @Html.LabelFor(u => u.Password)
    </div>
    <div class="editor-field left">
        @Html.PasswordFor(u => u.Password)
        @Html.ValidationMessageFor(u => u.Password)
    </div>
    <div class="editor-label left">
        @Html.LabelFor(u => u.ConfirmPassword)
    </div>
    <div class="editor-field left">
        @Html.PasswordFor(u => u.ConfirmPassword)
        @Html.ValidationMessageFor(u => u.ConfirmPassword)
    </div>
    <div class="editor-label left"></div>
    <div class="editor-field left">
        <input type="submit" value="Kaydet" class="button"/>
    </div>
}